<script setup lang="ts">
import HelloPhichet from "@/components/HelloPhichet.vue";
import TarComponent from "@/components/icons/TarComponent.vue";
import TinComponent from "@/components/icons/TinComponent.vue";
import HelloAun from "@/components/HelloAun.vue";
</script>
<template>
  <TinComponent></TinComponent>
  <TarComponent></TarComponent>
  <HelloPhichet></HelloPhichet>
  <HelloAun></HelloAun>
</template>
